@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --Soft-Blue: rgb(83, 104, 223);
    --Soft-Red: hsl(0, 94%, 66%);
    --indigo-blue: #1B2C8C;
    --dark-blue: #164773;
    --light-blue: #57AAF2;
    --theme-4: #6B17BF;

    /* ### Neutral */

    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: rgb(37, 43, 70);
}



html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 7em 0;
}

h1,
h2,
h3,
h4 {
    color: var(--Very-Dark-Blue);
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;

}

h3 {
    font-size: 3rem;

}

h4 {
    font-size: 2rem;

}

h5 {
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

a:hover {
    color: var(--Very-dark-blue);
}

.btn {
    width: 100%;
    min-width: 10rem;
    background-color: var(--dark-blue);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    height: 3em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px -6px black;
}

.btn:hover {
    border: 2px solid var(--dark-blue);
    background-color: #fff;
    color: var(--dark-blue);
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.course-btn {
    background-color: var(--light-blue);
}

.course-btn:hover {
    border: 2px solid var(--light-blue);
    background-color: #fff;
    color: var(--light-blue);
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
}

/*--------------- Header -------------*/
header {
    z-index: 4;
    background-color: var(--White);
    z-index: 999;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--Very-Dark-Blue);
    height: 11rem;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.site-logo img {
    width: 4rem;
    margin-top: -1rem;
}

.site-logo-text {
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 500;

}

.site-logo:hover {
    cursor: pointer;
}

.nav-link {
    transition: all 0.2s ease-out;
}

.nav-link:hover {
    color: var(--light-blue);
    cursor: pointer;
}

/*--------------- menu style start ---------------*/

a {
    text-decoration: none;
    color: var(--Grayish-Blue);
}

a:hover {
    color: var(--Dark-Blue);
}

button {
    font-size: 1.5rem;
    font-weight: 400;
    height: 3em;
    width: 12em;
    border: none;
    background-image: linear-gradient(to right,
            var(--Lime-Green),
            var(--Bright-Cyan));
    color: var(--White);
    border-radius: 4em;
}

button:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 80px;
    padding: 1em;
    margin: 0 auto;
}

nav .menu-bar ul {
    display: flex;
}

li {
    margin: 0 0rem;
    overflow: hidden;
    font-size: 1.4rem;
    letter-spacing: .1em;
    font-weight: 300;
    list-style: none;
    margin-left: 1em;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4em;
}

.nav-link {
    padding-bottom: 3rem;
    background-image: linear-gradient(to right,
            var(--Lime-Green),
            var(--Bright-Cyan));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s ease-out;
}

.nav-link:hover {
    background-size: 100% 4px, auto;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}


/*------------ Header style end ----------------*/


/*-------------- hero section start --------------*/


.div-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.div-hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    margin-top: -4rem;

}

.div-hero-left h1 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}

.hero-btns {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.hero-btn2 {
    background-color: hsl(229, 8%, 90%);
    color: var(--Dark-grayish-blue);
}

.hero-btn2:hover {
    border: 2px solid var(--Very-Dark-Blue);
    color: var(--Very-Dark-Blue);
}

.div-hero-right {
    width: 60%;
    position: relative;
    margin-left: 5em;
}

.div-hero-right img {
    width: 100%;
}

.div-illustration {
    height: 80%;
    width: 100%;
    border-radius: 175px 0 0 175px;
    background-color: var(--Soft-Blue);
    position: absolute;
    top: 20%;
    right: -15%;
    z-index: -1;

}

/*------- hero section end ----------*/





.section_title {
    margin-bottom: 40px;
}

.section_title h2 {
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.brand_border .fa.fa-minus {
    color: #fff;
    font-size: 8px;
    height: 2px;
    background: #54A1F1 none repeat scroll 0 0;
    width: 100px;
}

.brand_border .fas.fa-handshake {
    font-size: 14px;
    color: #000000;
}


.section_title p {
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    padding: 14px 0;
}

.choose_us .section_title {
    margin-top: 45px;
}

/*--------------About Us Section -------*/

.div-about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    text-align: center;
    min-width: 300px;
}


.text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    min-width: 300px;
    gap: 2rem;
}

.text-container h4 {
    color: #555;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.text-container h2 {
    font-size: 2.8rem;
    color: #333;
    font-weight: 500;
}

.text-container span {
    color: var(--light-blue);
}

.text-container p {
    color: #666;
    line-height: 1.6;
}

.text-container ul li {
    color: #666;
    line-height: 1.6;
    letter-spacing: 0;
    font-size: 1.6rem;
    text-transform: none;
}

.about-btn {
    width: 20rem;
}


/*-------------About us Section end -----------*/
.service-box {
    /* min-width: 48%; */
    width: calc(25% - 15px);
    /* 4 per row on desktop */
    padding: 15px;
    flex: 1;
    display: flex;
}

#service .single_service {
    padding: 3rem;
    /* Retained the largest padding value */
    background: #f4f4f4;
    /* Latest background color */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
}




#service .icon {
    border: 1px solid #666;
    border-radius: 5%;
    color: #333333;
    font-size: 35px;
    line-height: 65px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#service .single_service .single_service-left {
    padding-right: 25px;
}

.single_service-heading {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.single_service-body p {
    color: #333;
    line-height: 1.6rem;
    font-size: 1rem;
}

.single_service-body ul li {
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .1rem;
}

.single_service-body ul {
    list-style-type: disc;
}

.single_service-left {
    display: table-cell;
    vertical-align: top;
}

.single_service-body {
    color: #333333;
    display: table-cell;
    vertical-align: top;
    flex-grow: 1;
}

.hvr-curl-top-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Section Title */
.section_title {
    text-align: center;
    margin-bottom: 30px;
}

.section_title h2 {
    font-size: 2rem;
    font-weight: bold;
}

.brand_border {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.brand_border i {
    color: #333;
}

/* Service Boxes */


.single_service-left {
    margin-right: 15px;
}

.icon {
    font-size: 2rem;
    color: #007bff;
}

.single_service-body h4 {
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.single_service-body p {}

.service-box-btn {
    font-weight: 500;
    letter-spacing: .1rem;
    display: block;
    margin-top: 1rem;
    color: var(--Very-Dark-Blue);
}

.service-box-btn :hover {
    color: var(--Very-Dark-Blue);
}

.single_service:hover {
    transform: translateY(-5px);
}

#service .single_service:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#service .single_service:hover {
    /* background: #c9ddef none repeat scroll 0 0; */
    background: linear-gradient(-45deg, #EFF6FE, #54A1F1);

}


/* Responsive */


/* feature section end */



/* faq  section start */
.div-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header {
    margin-top: 4em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4em;
}

.faq-header p {
    width: 60%;
}

.faqs {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.questions {
    padding-top: 3em;
    border-top: 1px solid var(--Grayish-Blue);
    position: relative;
}

.questions:last-child {
    border-bottom: 1px solid var(--Grayish-Blue);
}

.q-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.q-head h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: inherit;
}

.faq-arrow {
    position: absolute;
    right: 0;
}

.arrow-icon {
    color: var(--dark-blue);
}

.arrow-icon:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.q-head:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.answer {
    margin-top: 2em;
    margin-bottom: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.answer p {
    font-size: 1.4rem;
    line-height: 2em;
}

.faq-btn {
    margin-top: 4em;
}

/* faq  section end */


.div-form {
    display: flex;
}

.div-contact-head {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}


.div-form-right {
    min-width: 50%;
}

.div-form-left img {
    width: %;
}

form {
    display: block;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.input-group {
    width: 100%;

    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Error Messages */
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

/* Submit Button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Result Message */
.result-message {
    margin-top: 10px;
    font-size: 14px;
}



/* form  section end */


/* footer  section start */
/* Footer Styling */
.footer {
    background-color: #0f314f;
    padding: 40px 0;
}


/* Footer Columns */
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-widget {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.footer-widget h3 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid var(--light-blue);
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #fff;
}


.footer-widget ul li {
    margin: 0;
    padding: 0;
}

/* Latest Posts */
.latest-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.latest-posts li {
    margin: 0;
    padding: 0;
}

.latest-posts a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    transition: color 0.3s ease;
}

.latest-posts a:hover {
    color: var(--light-blue);
}

.latest-posts p {
    font-size: 12px;
    color: #888;
    margin: 5px 0 0;
}

/* Services & Contact */
.footer-widget ul {
    list-style: none;
    padding: 0;
}

.footer-widget ul li {
    margin-bottom: 10px;
}

.footer-widget ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-widget ul li a:hover {
    color: var(--light-blue);
}

.footer-widget i {
    color: white;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-icons a {
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;

}

.social-icons a i:hover {
    color: var(--light-blue);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #333;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-bottom ul li a:hover {
    color: var(--light-blue);
}


/* footer  section end */










/*---------- course-page-----------*/
.course-page-hero {
    padding: 0 7rem;
    background: #f5f5f5;
}

.course-page-hero h1 {
    font-size: 10rem;
    font-weight: 500;
    padding-top: 10rem;
    color: black;
}

.course-page-hero p {
    font-size: 2rem;
    color: #555;
}

.arrow {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.arrow :hover {
    cursor: pointer;
    fill: #555;
}



.course-grid,
.report-grid {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 8rem;
    padding: 0 7rem;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    transition: 0.3s ease-in-out;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
    position: absolute;
    bottom: 12rem;
    background: rgba(255, 255, 255);
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.card-mid {
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.card-mid-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}



.card:hover .card-content {
    transform: translateY(40%);
}

.card:hover .card-image {
    transform: translateY(-30%);
}

.card:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.author {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.course-card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-now-btn {
    padding: 1rem 1.5rem;
    background: var(--dark-blue);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.buy-now-btn:hover {
    border: 2px solid var(--dark-blue);
    background-color: #fff;
    color: var(--dark-blue);
    cursor: pointer;
}

.learn-more {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-widget {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .service-box {
        width: calc(50% - 10px);
        /* 2 per row, ensuring even spacing */
    }
}

@media (max-width: 768px) {

    header {
        padding: 3rem 0;
    }

    .menu-button-container {
        display: flex;
    }

    .top-nav {
        height: 20px;
        padding: 0 2rem;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }



    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: #ffffff;
    }

    #menu-toggle:checked~.menu .nav-btn {
        height: 6rem;
    }

    /* hero section start */

    .div-hero {
        align-items: center;
        flex-direction: column-reverse;
        gap: 8em;
        overflow-x: hidden;

    }

    .div-hero-right {
        width: 100%;
        right: 0;
        left: -2em;
    }

    .div-hero-right img {
        width: 100%;
    }

    .div-illustration {
        height: 80%;
        width: 100%;
        border-radius: 175px 0 0 175px;
        background-color: var(--Soft-Blue);
        position: absolute;
        top: 20%;
        right: -20%;
        z-index: -1;
    }

    .div-hero-left h1 {
        font-size: 3.3rem;
    }

    .div-hero-left {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero-btns {
        width: 100%;
    }

    /* hero section end */


    .div-about:nth-child(2),
    .div-about:nth-child(4) {
        flex-direction: column-reverse;
    }


    #service .single_service {
        flex-direction: row;
    }

    #service .single_service .single_service-left {
        margin-right: 0;
        padding-right: 0;
    }

    .service-box {
        width: 100%;
    }

    /* feature content end */



    /* faq  section start */
    .faq-header {
        margin: 0;
    }

    .faq-header p,
    .faqs {
        width: 100%;
    }

    /* faq  section end */


    /* form  section start */

    .div-form {
        display: flex;
        flex-direction: column;
    }

    /* form  section end */

    /* footer  section start */
    .div-footer ul,
    .footer-contents {
        flex-direction: column;
    }

    .footer-icons {
        margin: 5rem 0;
    }

    .business-section {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        padding: 20px;
    }



}

@media (max-width: 940px) {}




/*extra classes */
.rotate {
    transform: rotate(180deg);
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.fixed-position {
    position: fixed;
}